.input{
    border:3px solid yellowgreen;
}
.show{opacity: 1;
    transition: all 1.5s ease-in;
}
.hide{
    animation: hide-item 2s ease-in forwards;
}

@keyframes hide-item{
    0%{
        opacity: 1;
        color: yellow;
    }
    50%{
        opacity: .5;
        color: red;
    }
    100%{
        opacity: 0;
        color:green;
    }
}